.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#showquote,
#quote-table {
  text-align: center;
  margin: auto;
  background-color: fuchsia;
}

#quote {
  background-color: greenyellow;
  text-align: center;
}

#bookingdetails {
  background-color: lightcoral;
  text-align: center;
}

.nav-main {
  text-align: left;
  display: inline-block;
  padding-left: 50px;

  margin-left: 50px;
}

#main-nav-bar {
  background-color: palevioletred;
  width: 1200px;
  margin-left: 50px;
}

#main-wrapper {
  text-align: left;
  margin-left: 50px;
  width: 1200px;
  height: 600px;
  background-color: darkblue;
}

#sidebar-wrapper {
  padding: 50px;
  vertical-align: text-top;

  display: inline-block;
  width: 150px;
  height: 500px;
  background-color: yellow;
}

#page-wrapper {
  padding: 50px;
  vertical-align: text-top;
  display: inline-block;
  width: 850px;
  height: 500px;
  background-color: orange;
}
